/** @define Test */
/*! superfly-css-component-test | MIT License | https://github.com/superfly-css/superfly-css-component-test/blob/master/LICENSE.md */

@import "superfly-css-utilities-fonts";
@import "superfly-css-utilities-layout";

.Test_when::before {
  content: 'When';
}

.Test_then::before {
  content: 'Then';
}

:root {
  --Test_container {
    @apply(--u-flex);
    @apply(--u-flex-column);
    @apply(--u-md-flex-row);
    @apply(--u-md-flex-justify-around);
    @apply(--u-width-100);
    @apply(--u-padding-top-1x);
    @apply(--u-margin-top-6x);
  }
}

.Test_container {
    @apply(--Test_container);
}


:root {
  --Test_component {
    @apply(--u-top-left);
    @apply(--u-font-size-800);
    @apply(--u-zindex-modal);
    @apply(--u-margin-top-1x);
    @apply(--u-margin-left-14x);
  }
}

.Test_component {
    @apply(--Test_component);
}

.Test_component::before {
  content: "⋐\00a0";
}

:root {
  --Test_counter {
    @apply(--u-top-left);
    @apply(--u-margin-top-1x);
    @apply(--u-margin-left-2x);
    @apply(--u-zindex-modal);
    @apply(--u-font-weight-500);
    @apply(--u-font-size-800);
    @apply(--u-margin-left-2x);
  }
}

.Test_counter {
    @apply(--Test_counter);
}

.Test_counter::before {
  content: "∡\00a0" counter(test-counter);
  counter-increment: test-counter;
}
